.event-picture{
    aspect-ratio: 3/2;
   
}
.react-datepicker-wrapper{
    width: 100%;
    border: 10px solid gray
}
.css-101dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px !important;

}